<!DOCTYPE html>
<html lang="ru">
<head>
    <title>NAV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/styles.css"/>
</head>

<body>
<%- include ('../blocks/header.ejs') %>
<p>Выступ</p>
<div class="auth">
    <form class="inputs" name="login" method="POST" action="/auth/login">
        <div id="login_main_label">Вход</div>
        <div class="login_label">Ваш логин</div>
        <label>
            <input id="name" class="input_form" type="text" name="name" required="required">
        </label>
        <div class="login_label">Ваш пароль</div>
        <label>
            <input id="password" class="input_form" type="password" name="password" required="required">
        </label>
        <br>
        <input class="input_button" type="submit" name="submit_btn" value="Отправить">
    </form>
</div>

</body>

</html>