<!DOCTYPE html>
<html lang="ru">
<head>
    <title>О себе</title>
    <meta charset="unt-8">
    <link rel="stylesheet" href="css/styles.css" />
    <script src="script/script.js"></script>
</head>
<body>
    <%- include ('blocks/header.ejs') %>
    <div class="page1">
        <div class="phone1">
            <div id="fio-anim">НОТФУЛЛИНА</div>
            <div id="fio-anim">АЙГӨЛ</div>
            <div id="fio-anim">ВӘЖИТ ҠЫҘЫ</div>
            <p id="info_about_me">БАШҠОРТОСТАН РЕСПУБЛИКАҺЫНЫҢ
                САЛАУАТ РАЙОНЫНЫҢ ЯНҒАНТАУ МӘКТӘБЕ БАШҠОРТ ТЕЛЕ ҺӘМ ӘҘӘБИӘТЕ УҠЫТЫУСЫҺЫ
            </p>
        </div>
        <div class="photo_main"><img src="img/photo.png" ></div>
    </div>

    <div class="page2">
        <div class="img2">
            <img src="img/img2.png">
        </div>
        <div class="poem1">
            <p>Ҡәҙерле ҡунаҡтар!<br> Һеҙҙе шәхси сайтымда күреүемә шатмын!</p>

        </div>

    </div>
    <div class="page3">
        <div class="info3">
            Родилась в Салаватском районе д.Ишимбаево 7 августа 1977 года.
            В первый класс пошла в Ишимбаевскую среднюю школу, где обучалась до 8 класса.
            В 1991 году поступила учиться БРГИ им.Р.Гарипова. После окончания гимназии в 1994 году
            поступила на факультет башкирской филологии в БГПИ, которую закончила в 1999 году.
            После окончания института вернулась в свой район учителем башкирского языка и литературы,
            истории и культуры Башкортостана. С 2013 года работаю учителем башкирского языка и литературы
            в МОБУ СОШ с.Янгантау.<br>
            В 1999 году вышла замуж за Нутфуллина Айрата Алкафовича. Имеет трех дочерей:
            Алина - 2000 г.р., Алиса - 2016 г.р., Алсу - 2012 г.р.
        </div>
        <div class="img3">
            <img src="img/photo_2_2.jpg">
        </div>
    </div>
</body>
</html>