<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <meta charset="unt-8">
    <link rel="stylesheet" href="css/styles.css" />
    <script src="script/script.js"></script>
</head>
<body>
<%- include ('blocks/header.ejs') %>
<p>Выступ</p>

<div class="page1">
    <div class="fone1">
        <div id="fio-anim">НУТФУЛЛИНА</div>
        <div id="fio-anim">АЙГУЛЬ</div>
        <div id="fio-anim">ВАЖИТОВНА</div>
        <p id="info_about_me">Учитель башкирского языка и литературы
            в МОБУ СОШ села Янгантау Салаватского раона республики Башкортостан
        </p>
    </div>
    <div class="foto_main"><img src="img/foto.png" ></div>
</div>

<div class="page2">
    <img src="img/img2.png" height="100%">
    <div id="zapyataya">,,</div>
    <p id="info2">Тел тигән диңгеҙ бар, Төбөндә алтын-көмөш бар, Теләгәндәр сумып алыр,
        Теләмәгән ҡоро ҡалыр.  </p>
    <p id="info2-1">Мәҡәл.</p>
</div>
<div class="page3">
    <div id="info4">
        Родилась в Салаватском районе д.Ишимбаево 7 августа 1977 года.
        В первый класс пошла в Ишимбаевскую среднюю школу, где обучалась до 8 класса.
        В 1991 году поступила учиться БРГ им.Р.Гарипова. После окончания гимназии в 1994 году
        поступила на факультет башкирской филологии в БГПИ, которую закончила в 1999 году.
        После окончания института вернулас в свой район учителем башкирского языка и литературы,
        истории и культуры Башкортостана. С 2013 года работаю учителем башкирского языка и литературы
        в МОБУ СОШ с.Янгантау.<br>
        В 1999 году вышла замуж за Нутфуллина Айрата Алкафовича. Имеем трех дочерей:
        Алина - 2000 г.р., Алиса - 2016 г.р., Алсу - 2012 г.р.
    </div>
    <img src="img/foto2.png" height="100%">
</div>
<!--<div class="page4">
    ВВВВВВВВ
</div>
-->


</body>
</html>