<!DOCTYPE html>
<html>
<head>
    <title>NAV</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <%- include ('blocks/header.ejs') %>
    <iframe src="https://translate.google.com/" width="1350" height="600" scrolling="auto"> </iframe>

    
</body>

</html>