<!DOCTYPE html>
<html>
<head>
    <title>NAV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
</head>

<body>
<%- include ('blocks/header.ejs') %>
<div style="text-align: center; margin-top: 10px;">
    <div class="video-fizmin">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/u7WAp_AtSMg?showinfo=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
    <div>
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/8qdV1DON1cY"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
</div>

</body>

</html>