<!DOCTYPE html>
<html>
<head>
    <title>NAV</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <%- include ('blocks/header.ejs') %>
    <p>Выступ</p>
    <div class="merits_main">
        <div id="merit_box">
            <img src="img/merit.png" height="60%">
            Заслуга 1
        </div>
    </div>
    
    
</body>

</html>