<!DOCTYPE html>
<html>
<head>
    <title>Достижения</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <%- include ('blocks/header.ejs') %>
    <div class="merits_main">
        <a href="#merit1" id="merit_box">
            <img src="img/merit.png" height="60%">
            Заслуга 1
        </a>
        <a href="#merit2" id="merit_box">
            <img src="img/merit.png" height="60%">
            Заслуга 2
        </a>
        <a href="#merit3" id="merit_box">
            <img src="img/merit.png" height="60%">
            Заслуга 3
        </a>
        <a href="#merit4" id="merit_box">
            <img src="img/merit.png" height="60%">
            Заслуга 4
        </a>
        <a href="#merit5" id="merit_box">
            <img src="img/merit.png" height="60%">
            Заслуга 5
        </a>
        <a href="#merit6" id="merit_box">
            <img src="img/merit.png" height="60%">
            Заслуга 6
        </a>
    </div>
    <div id="merit1" class="merit">
        <div id="merit_name">
            Заслуга 1 Название
        </div>
        <div id="merit_photo">
            Фотография если есть
        </div>
        <div id="merit_desk">
            Описание
        </div>
    </div>
    <div id="merit2" class="merit">
        <div id="merit_name">
            Заслуга 2 Название
        </div>
        <div id="merit_photo">
            Фотография если есть
        </div>
        <div id="merit_desk">
            Описание
        </div>
    </div>
    <div id="merit3" class="merit">
        <div id="merit_name">
            Заслуга 3 Название
        </div>
        <div id="merit_photo">
            Фотография если есть
        </div>
        <div id="merit_desk">
            Описание
        </div>
    </div>
    <div id="merit4" class="merit">
        <div id="merit_name">
            Заслуга 4 Название
        </div>
        <div id="merit_photo">
            Фотография если есть
        </div>
        <div id="merit_desk">
            Описание
        </div>
    </div>
    <div id="merit5" class="merit">
        <div id="merit_name">
            Заслуга 5 Название
        </div>
        <div id="merit_photo">
            Фотография если есть
        </div>
        <div id="merit_desk">
            Описание
        </div>
    </div>
    <div id="merit6" class="merit">
        <div id="merit_name">
            Заслуга 6 Название
        </div>
        <div id="merit_photo">
            Фотография если есть
        </div>
        <div id="merit_desk">
            Описание
        </div>
    </div>
</body>

</html>