<!DOCTYPE html>
<html>
<head>
    <title>Достижения</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86928268, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
</script>
<%- include ('blocks/header.ejs') %>
<!--<div class="merits_main">
    <a href="#merit1" id="merit_box">
        <img src="img/merit.png" height="60%">
        Заслуга 1
    </a>
    <a href="#merit2" id="merit_box">
        <img src="img/merit.png" height="60%">
        Заслуга 2
    </a>
    <a href="#merit3" id="merit_box">
        <img src="img/merit.png" height="60%">
        Заслуга 3
    </a>
    <a href="#merit4" id="merit_box">
        <img src="img/merit.png" height="60%">
        Заслуга 4
    </a>
    <a href="#merit5" id="merit_box">
        <img src="img/merit.png" height="60%">
        Заслуга 5
    </a>
    <a href="#merit6" id="merit_box">
        <img src="img/merit.png" height="60%">
        Заслуга 6
    </a>
</div>-->
<div id="merit1" class="merit">
    <div id="merit_name">
        Выпускница БГПИ
    </div>
    <div class="my-flex-box" style="width: 100%">
        <div id="merit_photo" style="width: 50%">
            <img src="img/bgpi.jpg" width="90%">
        </div>
        <div id="merit_desk" style="width: 50%">
            1999 году я окончила Башкирский государственный педагогический институт факультет башкирской филологии
        </div>
    </div>
</div>
<div id="merit2" class="merit">
    <div id="merit_name">
        Конкурс “Учитель года – 2010”
    </div>
    <div class="my-flex-box" style="width: 100%">
        <div id="merit_photo" style="width: 50%; text-align: center">
            <img src="img/z2.jpg" width="60%">
        </div>
        <div id="merit_desk" style="width: 50%;">
            В 2010 году участвовала в конкурсе педагогического мастерства “Учитель года – 2010”
        </div>
    </div>
</div>
<div id="merit3" class="merit">
    <div id="merit_name">
        Конкурс “Самый классный классный”
    </div>
    <div class="my-flex-box" style="width: 100%">
        <div id="merit_photo" style="width: 50%; text-align: center">
            <img src="img/z3.jpg" width="60%">
        </div>
        <div id="merit_desk" style="width: 50%;">
            В 2019 году участвовала в конкурсе “Самый классный классный”
        </div>
    </div>
</div>
<div id="merit4" class="merit">
    <div id="merit_name">
        Высшая квалификационная категория
    </div>
    <div class="my-flex-box" style="width: 100%">
        <div id="merit_photo" style="width: 50%; text-align: center">
            <img src="img/z4.jpg" width="100%">
        </div>
        <div id="merit_desk" style="width: 50%;">
            В 2019 году по результатам работы получила высшую квалификационную категорию
        </div>
    </div>
</div>
<div id="merit5" class="merit">
    <div id="merit_name">
        Межрегиональная олимпиада по башкирскому языку 2020
    </div>
    <div class="my-flex-box" style="width: 100%">
        <div id="merit_photo" style="width: 50%; text-align: center">
            <img src="img/z5.jpg" width="60%">
        </div>
        <div id="merit_desk" style="width: 50%;">
            В 2020 году моя ученица стала призером межрегиональной олимпиады по башкирскому языку - 2020
        </div>
    </div>
</div>
<div id="merit6" class="merit">
    <div id="merit_name">
        Межрегиональная олимпиада по башкирскому языку 2021
    </div>
    <div class="my-flex-box" style="width: 100%">
        <div id="merit_photo" style="width: 50%; text-align: center">
            <img src="img/z6.PNG" width="60%">
        </div>
        <div id="merit_desk" style="width: 50%;">
            В 2021 году моя ученица стала призером межрегиональной олимпиады по башкирскому языку - 2021
        </div>
    </div>
</div>
<div id="merit7" class="merit">
    <div id="merit_name">
        Благодарственное письмо от Всемирного Курултая башкир
    </div>
    <div class="my-flex-box" style="width: 100%">
        <div id="merit_photo" style="width: 50%; text-align: center">
            <img src="img/z7.jpg" width="60%">
        </div>
        <div id="merit_desk" style="width: 50%;">
            В 2021 году по результатам работы получила Благодарственное письмо от Всемирного Курултая башкир
        </div>
    </div>
</div>
</body>

</html>