<!DOCTYPE html>
<html>
<head>
    <title>Олимпиады</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86928268, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
</script>
<%- include ('blocks/header.ejs') %>
<div class="olimps-title">Подготовка к олимпиадам по башкирскому языку</div>
<div style="margin-bottom: 50px">
    <div class="my-flex-box documents" style="width: 100%; font-size: 20px">
        <div style="width: 50%"><a href="documents/to-parents/Вопросы олимпиады.docx" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Олимпиада һорауҙары
                </div>
            </a></div>
        <div style="width: 50%"><a href="documents/to-parents/Вопросы олимпиады для русских школ.docx" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Рус мәктәптәре өсөн туған (башҡорт) телдән олимпиада
                </div>
            </a></div>
        <div style="width: 50%"><a href="documents/to-parents/o1.docx" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Работа над текстом. 2 линия 11 класс
                </div>
            </a></div>
        <div style="width: 50%"><a href="documents/to-parents/o2.docx" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    8 класс Башкирские школы Задание к аудиотексту
                </div>
            </a></div>
    </div>
    <div class="my-flex-box documents" style="width: 100%; font-size: 20px">
        <div style="width: 50%"><a href="documents/to-parents/o3.docx" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Рус мәктәптәре өсөн башҡорт 2 линия
                </div>
            </a></div>
        <div style="width: 50%"><a href="documents/to-parents/o4.doc" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Рус мәктәптәре өсөн башҡорт 3 линия 5-7 класс
                </div>
            </a></div>
        <div style="width: 50%"><a href="documents/to-parents/o5.docx" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Олимпиада Башҡорт мәктәптәренең 5- 7 класс
                </div>
            </a></div>
        <div style="width: 50%"><a href="documents/to-parents/o6.docx" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Олимпиада баш 1 линия 4 класс
                </div>
            </a></div>
    </div>
    <div class="my-flex-box documents" style="width: 100%; font-size: 20px">
        <div style="width: 50%"><a href="documents/to-parents/o7.docx" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Олимпиада баш 3 линия 4 класс
                </div>
            </a></div>
        <div style="width: 50%"><a href="documents/to-parents/o8.doc" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Олимпиада (тесты) баш 2 линия 11 класс
                </div>
            </a></div>
    </div>
</div>
</body>

</html>