<!DOCTYPE html>
<html>
<head>
    <title>Олимпиады</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>
<%- include ('blocks/header.ejs') %>
<div class="olimps-title">Подготовка к олимпиадам по башкирскому языку</div>
<div class="my-flex-box">
    <div class="my-flex-box documents" style="width: 100%; font-size: 20px">
        <div style="width: 50%"><a href="documents/to-parents/Вопросы олимпиады.docx" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Олимпиада һорауҙары
                </div>
            </a></div>
        <div style="width: 50%"><a href="documents/to-parents/Вопросы олимпиады для русских школ.docx" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Рус мәктәптәре өсн башҡорт(туған)теленән олимпиада
                </div>
            </a></div>
    </div>
</div>
</body>

</html>