<!DOCTYPE html>
<html>
<head>
    <title>Фотоальбом</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="script/script.js"></script>
</head>

<body>
    <%- include ('blocks/header.ejs') %>
    <p>Выступ</p>

    <section class="card">
        <div class="card--content">
            <img src="img/foto_2_2.jpg">
        </div>
        <div class="card--content">
            <img src="img/2O76arzrhrQ.jpg">
        </div>
        <div class="card--content">
            <img src="img/foto_2_2.jpg">
        </div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
    </section>
    
</body>

</html>