<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Портфолио</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="script/script.js"></script>
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86928268, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
</script>
<%- include ('blocks/header.ejs') %>
<section class="card">
    <div class="card--content">
        <img src="img/photo_2_2.jpg">
    </div>
    <div class="card--content">
        <img src="img/2O76arzrhrQ.jpg">
    </div>
    <div class="card--content">
        <img src="img/photo_2_2.jpg">
    </div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
</section>

</body>

</html>