<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Портфолио</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="script/script.js"></script>
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
</head>

<body>
<%- include ('blocks/header.ejs') %>
<section class="card">
    <div class="card--content">
        <img src="img/photo_2_2.jpg">
    </div>
    <div class="card--content">
        <img src="img/2O76arzrhrQ.jpg">
    </div>
    <div class="card--content">
        <img src="img/photo_2_2.jpg">
    </div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
</section>

</body>

</html>