<!DOCTYPE html>
<html>
<head>
    <title>Портфолио</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>
<%- include ('blocks/header.ejs') %>
<iframe class="iframe"
        src="https://onedrive.live.com/embed?cid=0674E13B572B8470&resid=674E13B572B8470%213828&authkey=AIn1faVlSdqe_Rk&em=2"
        frameborder="0" scrolling="no"></iframe>
<style type="text/css">
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
</style>
</body>

</html>
