<!DOCTYPE html>
<html>
<head>
    <title>NAV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
</head>

<body>
<%- include ('blocks/header.ejs') %>
<div class="memo-label">
    МӘҠӘЛДӘР
</div>
<div class="proverbs-main">
    <div class="proverbs-theme">
        Тел тураһында:
    </div>
    <ul>
        <li>Уйҙың күрке – тел, телдең күрке – һүҙ</li>
        <li>Туған телем – үҙ телем, ҡайҙа барһам үҙ көнөм.</li>
        <li>Тел асҡысы – ил асҡысы.</li>
        <li>Телле кеше теле менән ҡош тота.</li>
        <li>Сәсән күрке һүҙ булыр, мәргән күрке күҙ булыр.</li>
        <li>Тел менән тирмән тартып онло булып булмай.</li>
        <li>Әсәм теле – сәсән телеТел белемдең асҡысы, аҡылдың баҫҡысы.</li>
    </ul>
    <div class="proverbs-theme">
        Хеҙмәт тураһында:
    </div>
    <ul>
        <li>Башланған эш - бөткән эш.</li>
        <li>Белгәнгә яҡты, белмәгәнгә ҡараңғы.</li>
        <li>Белеме барҙың ҡәҙере бар.</li>
        <li>Буй үҫтермә, аҡыл үҫтер.</li>
        <li>Егет кешегә етмеш төрлө һөнәр ҙә аҙ.</li>
        <li>Ҡалған эшкә ҡар яуа.</li>
        <li>Тырышлыҡ - ҙурлыҡ, ялҡаулыҡ – хурлыҡ.</li>
        <li>Хеҙмәте юҡтың хөрмәте юҡ.</li>
        <li> Һөнәрле кеше - ҡораллы кеше.</li>
        <li> Ялҡау аҙ эшләй, аҙ эшләһә лә, күп тешләй.</li>
        <li> Ялҡауҙың көн дә башы ауырый.</li>
        <li> Ергә эйелһәң, байлыҡ килә.</li>
        <li>Ергә тамған тир - гәүһәр.</li>
    </ul>
    <div class="proverbs-theme">
        Тыуған ил, батырлыҡ тураһындағы мәҡәлдәр:
    </div>
    <ul>
        <li>Алтын- көмөш яуған ерҙән тыуған-үҫкән ил артыҡ.</li>
        <li>   Берҙең көнө ил менән, илдең көнө ер менән.</li>
        <li> Ил ҡәҙерен белмәгән - башын юғалтҡан, ер ҡәҙерен белмәгән - ашын юғалтҡан.</li>
        <li>  Ир аҡылы - бер алтын, ил аҡылы – мең алтын.</li>
        <li>  Антты бирә лә бел, үтәй ҙә бел.</li>
        <li> Аттың даны егет ҡулында, егеттең даны үҙ ҡулында.</li>
        <li>    Батырмын, тип кем әйтмәй, яу килгәндә өнө юҡ.</li>
        <li> Батырлыҡ яуҙа беленер, мәргәнлек ауҙа беленер.</li>
        <li>  Ҡурҡаҡтың күҙе дүрт булыр.</li>
        <li>   Ауға барһан, зирәк бул, юлдашыңа терәк бул.</li>
        <li>  Ике кәңәш бер булһа, илле егет йөҙ була.</li>
        <li> Ебәк билғау- бил күрке.</li>
        <li>   Батыр егет-ил күрке.</li>
        <li>   Ир-егеттең ике юлдашы бар:</li>
        <li>  Береһе-батырлыҡ,</li>
        <li>  Икенсеһе-тәүәккеллек.</li>
        <li> Батыр ғүмере –ике.</li>
        <li>  «Халҡым» тигән ир - алтын.</li>
        <li>   Ирҙең даны иленән,</li>
        <li>   Халҡы менән еренән.</li>
        <li> Ир- егет үҙе өсөн тыуа, иле өсөн үлә.</li>
        <li>  Батыр бер үлә, ҡурҡаҡ ҡырҡ үлә.</li>
        <li> Ил эшенең иртәгәһе маҡтаулы.</li>
        <li>  Мал торған ерен онотмаҫ, егет тыуған илен онотмаҫ.</li>
        <li>  Илең ни күрһә, һин дә шуны күрерһең.</li>
        <li>  Беләгенә ҡарама, йөрәгенә ҡара.</li>
        <li> Яуҙан ҡасып ҡайтҡансы яралы ҡайт.</li>
    </ul>
    <div class="proverbs-theme">
        Тормош-көнкүреш тураһында
    </div>
    <ul>
        <li> Аҡрын барһаң, алыҫ китерһең.</li>
        <li>Аҡыл йәштә түгел, башта.</li>
        <li>Аманатҡа хыянат итмә.</li>
        <li>Аҫыл таш ерҙә ятмаҫ.</li>
        <li>Ата-әсәңә ни ҡылһаң, үҙең шуны күрерһең.</li>
        <li>Бурлыҡтың һуңы-хурлыҡ.</li>
        <li>Йоҡо тамаҡ туйҙырмай.</li>
        <li>Туралыҡтың төбө аҫыл таш.</li>
        <li>Уйнап һөйләһәң дә, уйлап һөйлә.</li>
        <li>Уты һүнһә лә, ҡуҙы ҡала.</li>
        <li>Һүҙ яраһы һөңгө яраһынан ҡатыраҡ.</li>
        <li>Егет кешегэ етмеш төрлө һөнәр ҙә аҙ.</li>
    </ul>
</div>
</body>

</html>