<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <!--- он грит  что type="text/css" этот майм тайп неправильныйон же ро другое писали про text/html-->
    <meta charset="utf-8"><!-- почему не utf-8Ошибочка-->
</head>

<body>
    <%- include ('blocks/header.ejs') %>
        <!--- зачем это нужно скачивать хочу посмотреть повлияет или нет-->
        <h1>Обо мне. id </h1>
        <p>ИнФОРмация</p>
</body>

</html>