<!DOCTYPE html>
<html>
<head>
    <title>Родителям</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>
<%- include ('blocks/header.ejs') %>
<div class="memo-label">
    Памятка родителям
</div>
<div class="to-parents-main-text">
    <div class="custom-blockquote">
        <blockquote style="margin: 0">
            Воспитание ребенка –
            это не милая забава, а задание,
            требующее капиталовложений, тяжких переживаний, усилий, бессонных ночей и много, много мыслей…<br>
            <cite>Януш Корчак</cite>
        </blockquote>
    </div>
    <div class="my-flex-box expressions">
        <div>
            <ul>
                <p><b>Употреблять чаще:</b></p>
                <li>Ты у меня самый умный, красивый…</li>
                <li>Как хорошо, что у меня есть ты…</li>
                <li>Ты у меня молодец…</li>
                <li>Я тебя очень люблю…</li>
                <li>Спасибо тебе…</li>
                <li>Без тебя я бы не справился…</li>
            </ul>
        </div>
        <div>
            <ul>
                <p><b>Не употреблять выражения:</b></p>
                <li>Ты у меня самый умный, красивый…</li>
                <li>Как хорошо, что у меня есть ты…</li>
                <li>Ты у меня молодец…</li>
                <li>Я тебя очень люблю…</li>
                <li>Спасибо тебе…</li>
                <li>Без тебя я бы не справился…</li>
            </ul>
        </div>
    </div>
    <div class="poem">
        Дети – это чудо света,<br>
        Я увидел это сам.<br>
        И причислил чудо это<br>
        К самым чудным чудесам.<br>
        Мы пред будущим в ответе:<br>
        Наша радость, боль и грусть,<br>
        Наше будущее – дети!<br>
        Трудно с ними – ну и пусть!<br>
        В наших детях – наша сила,<br>
        Внеземных миров огни.<br>
        Лишь бы будущее было<br>
        Столь же светлым, как они
    </div>
    <div class="document-to-parents">
        <div>Предлагаю ознакомиться с документами:</div>
        <div class="my-flex-box documents">
            <div><a href="documents/to-parents/Как повысить иммунитет.docx" download>
                    <div class="document-icon-label">
                        <img src="img/word-icon.png">
                        Как повысить имунитет
                    </div>
                </a></div>
            <div><a href="documents/to-parents/Права и обязанности родителей.docx" download>
                    <div class="document-icon-label">
                        <img src="img/word-icon.png">
                        Права и обязанности родителей
                    </div>
                </a></div>
            <div><a href="documents/to-parents/Правовые аспекты по воспитанию детей.doc" download>
                    <div class="document-icon-label">
                        <img src="img/word-icon.png">
                        Правовые аспекты по воспитанию детей
                    </div>
                </a></div>
        </div>
    </div>
</div>


</body>

</html>