<!DOCTYPE html>
<html>
<head>
    <title>NAV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
</head>

<body>
<%- include ('blocks/header.ejs') %>
<div class="memo-label">
    Формы работы со слабоуспевающими учащимся
</div>
<div class="to-parents-main-text">
    <div class="underperforming-box">
        <ul class="underperforming-list">
            <li>Индивидуальные консультации</li>
            <li>Консультационные тетради</li>
            <li>Домашние контрольные работы</li>
            <li>Индивидуальная работа по карточкам</li>
            <li>Срезовые работы</li>
            <li>Выставление поурочного балла</li>
            <li>Совместная работа с учеником и родителями</li>
        </ul>
    </div>
    <div>
        <div>Документы для ознакомления:</div>
        <div class="my-flex-box underperforming-box">
            <a href="documents/underperforming/Работа со слабоуспевающими.doc" download>
                <div class="document-icon-label">
                    <img src="img/word-icon.png">
                    Работа со слабоуспевающими
                </div>
            </a>
        </div>
    </div>
</div>

</body>

</html>