<!DOCTYPE html>
<html>
<head>
    <title>Рабочая программа</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
    <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(86928268, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
</script>
<%- include ('blocks/header.ejs') %>
<div class="memo-label" style="font-size: 25px; ">
    Башҡорт теле һәм әҙәбиәтенән эш программаһы
</div>
<div class="to-parents-main-text">
    <div class="my-flex-box underperforming-box">
        <a href="documents/work_program/РП по родному 5-10 кл.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                Башҡорт теле һәм әҙәбиәтенән эш программаһы
            </div>
        </a>
    </div>
</div>
<div class="memo-label" style="font-size: 25px; ">
    Календарь-тематик план
</div>
<div class="to-parents-main-text">
    <div class="my-flex-box" style="margin-bottom: 40px">
        <a href="documents/work_program/5t.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                5 класс тел.docx
            </div>
        </a>
        <a href="documents/work_program/5a.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                5 класс әҙәбиәт
            </div>
        </a>
    </div>
    <div class="my-flex-box" style="margin-bottom: 40px">
        <a href="documents/work_program/6t.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                6 класс тел.docx
            </div>
        </a>
        <a href="documents/work_program/6a.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                6 класс әҙәбиәт
            </div>
        </a>
    </div>
    <div class="my-flex-box" style="margin-bottom: 40px">
        <a href="documents/work_program/7t.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                7 класс тел.docx
            </div>
        </a>
        <a href="documents/work_program/7a.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                7 класс әҙәбиәт
            </div>
        </a>
    </div>
    <div class="my-flex-box" style="margin-bottom: 40px">
        <a href="documents/work_program/8t.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                8 класс тел.docx
            </div>
        </a>
        <a href="documents/work_program/8a.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                    8 класс әҙәбиәт
            </div>
        </a>
    </div>
    <div class="my-flex-box" style="margin-bottom: 40px">
        <a href="documents/work_program/9t.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                9 класс тел.docx
            </div>
        </a>
        <a href="documents/work_program/9a.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                9 класс әҙәбиәт
            </div>
        </a>
    </div>
    <div class="my-flex-box" style="margin-bottom: 40px">
        <a href="documents/work_program/10t.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                10 класс тел.docx
            </div>
        </a>
        <a href="documents/work_program/10a.docx" download>
            <div class="document-icon-label">
                <img src="img/word-icon.png">
                10 класс әҙәбиәт
            </div>
        </a>
    </div>
</div>
</body>

</html>