@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
    /* background-color: #D6C7B2; */
    min-height: 100%;
    margin:0;
    padding:0;
    background-color: #D6C7B2;
    background-size: 100%;
}

html{
    margin:0;
    padding:0;
}

.my-flex-box{
    display: flex;
    flex-direction: row;
}
/* ШАПКА +++*/

.panel{
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    background-color: #D6C7B2;
    border-bottom: 2px solid #494440;
}

.panel a {
    float: left;
    color: #494440;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.panel a:hover {
    background-color: #9e8976;
    color: black;
}
.panel .logo:hover {
    background-color: #D6C7B2;
    color: black;
}

.panel a.logo {
    width: 200px;
    height: 20px;
    padding-left: 80px;
    background-image: url("../img/logo.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

/*Всплывающие окошки + */
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #494440;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.panel a:hover, .dropdown:hover .dropbtn {
    background-color: #9e8976;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9e8976;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
}
.dropdown-content a:hover {
    background-color: #9e8976;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*Всплывающие окошки - */

/*Кнопка для входа в аккаунт +*/
.btn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    cursor: pointer;

    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 13px;

    padding: 0.5em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}

.btn a{
    margin: 0;
    padding: 0;
}
.btn a:hover{
    margin: 0;
    padding: 0;
    background-color: #75859e;
}

.fourth {
    margin-top: 6px;
    border-color: #75859e;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #75859e 50%, transparent 50%);
    background-image: linear-gradient(45deg, #75859e 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
}
.fourth:hover {
    background-position: 0;
}

#guest_book{
    margin-right: 100px;
}
/*Кнопка для входа в аккаунт -*/

/* ШАПКА ---*/


/* СТРАНИЦА О СЕБЕ +++ */

/*страница 1*/
.page1{
    /*background-image: url("../img/school-fon1.jpg");
    background-size: 100%;
    height: 709px;
    background-repeat: repeat-x;
    */
    background-color: #D6C7B2;
    background-size: auto;
    height: 300px;
    position: relative;
}
.phone1 {
    padding: 2em 1.5em;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #7c695b;
    position: absolute;
}
#fio-anim:hover{
    font-size: 70px;
}
#info_about_me{
    width: 700px;
    padding: 3em 0;
    text-decoration: none;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #413833;
}
.photo_main{
    display: block;
}
.photo_main img {
    position: absolute;
    right: 100px;
    height: 200%;
}

/*стрaница 2*/
.page2{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    padding-right: 150px;
    background-color: white;
    height: 450px;
    z-index: -1;
    align-items: center;
}
.img2 {
    width: 30%;
    padding-left: 80px;
}

.img2 img{
    width: 85%;
}
.poem1{
    width: 70%;

    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: black;
}
.info2 {
    text-decoration: none;
    font-family: 'Bad Script', cursive;
    font-size: 20px;
}
.info2-1{
    font-size: 18px;
    text-decoration: none;
    font-family: 'Bad Script', cursive;
}

/*стрaница 3*/
.page3{
    display: flex;
    flex-direction: row;

    background-color: #D6C7B2;
    background-size: auto;
    text-align: center;
    margin: 20px 30px 60px 30px;
}

.info3{
    width: 60%;
    background-color: #7c695b;
    padding: 70px 30px 30px;

    text-align: justify;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 20px;
    line-height: 1.55;
    color: white;
}

.img3{
 width: 40%;
}

.img3 img{
    width: 70%;
}
/* СТРАНИЦА О СЕБЕ --- */

/* СТРАНИЦА ЗАСЛУГИ +++ */
.merits_main{
    background-color: #D6C7B2;
    background-size: auto;
    height: 500px;
    position: relative;
    padding: 50px;
}

#merit_box{
    display:inline;
    float:left;
    child-align: middle;
    margin: 50px;
    width: 200px;
    height: 150px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto',Arial,sans-serif;
}

#merit_box img:hover{
    height: 70%;
}
#merit_box:hover{
    text-shadow: black 1px 0 10px;
    font-size: 35px;
}

.merit{
    background-color: white;
    background-size: auto;
    height: 600px;
    margin: 40px;
}

#merit_name{
    padding: 25px;
    font-size: 35px;
    font-family: 'Roboto',Arial,sans-serif;
}

#merit_photo{
    display:inline;
    float:left;
    margin: 50px;
}

#merit_desk{
    display:inline;
    float:right;
    margin: 20px;
    background-color: #7c695b;
    height: 400px;
    width: 600px;

    padding: 30px;
    color: white;
    font-size: 20px;
}
/* СТРАНИЦА ЗАСЛУГИ --- */

/* СТРАНИЦА ФОТОАЛЬБОМ +++*/
.card {
    overflow: hidden;
    overflow-x: scroll;
    background: white;
    white-space:nowrap;
}

.card--content {
    display: inline-block;
    vertical-align: top;
    width: 650px;
    height:645px;
    background: #D6C7B2;
}

.card--content img{
    width:auto;
    height:100%;
    display: block;
    margin: 0 auto;
}
/* СТРАНИЦА ФОТОАЛЬБОМ --- */

/* СТРАНИЦА ВХОДА +++ */
.auth{
    margin: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.inputs {
    display: inline-block;
    text-align: left;
    font-family: 'Roboto',Arial,sans-serif;
    width: 400px;
    height: 420px;
    background-color: white;
    box-shadow: 0 2px 40px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
}
#login_main_label{
    font-size: 27px;
    text-align: center;
    margin-top: 15px;
    padding: 25px;
}

.login_label{
    font-size: 20px;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.input_form{
    margin-left: 40px;
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
}

.input_button{
    margin: 40px;
    background-color: #75859e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 80%;
}
/* СТРАНИЦА ВХОДА --- */

/* РОДИТЕЛЯМ +++ */
.memo-label{
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: 30px;
    background-color: #75859e;
}

.to-parents-main-text{
    align-items: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
}
.custom-blockquote{
    border-left: 4px solid #75859e; /* Линия слева от текста */
    text-align: justify;
    padding-left: 20px;
}

.expressions{
    line-height: 1.9;
    text-align: justify;
}

.expressions li{
    list-style-type: none;
}

.expressions li::before {
    color: #75859e; /* Цвет маркера */
    content: "●"; /* Сам маркер */
    padding-right: 10px; /* Расстояние от маркера до текста */
}

.poem{
    text-align: center;
    border-bottom: 4px solid #75859e;
    border-top: 4px solid #75859e;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.documents{
    margin-top: 40px;
    text-decoration: none;
}

.documents a{
    text-decoration: none;
    color: #2a559a;
}

.document-icon-label{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.document-icon-label img{
    width: 30%;
}
/* РОДИТЕЛЯМ --- */
