        <div class="panel">
            <a class="logo" href="C:\Users\m8rin\Desktop\web\my mom\index.html"></a>
            
            <div class="dropdown">
                <button class="dropbtn">О себе</button>
                <div class="dropdown-content">
                  <a href="#">О себе</a>
                  <a href="#">Мои заслуги</a>
                  <a href="#">Фотоальбом</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Ученикам</button>
                <div class="dropdown-content">
                  <a href="#">Тестирование учащихся</a>
                  <a href="#">Подготовка к олимпиаде по башкирскому языку</a>
                  <a href="#">Работа со слабоуспевающими</a>
                  <a href="#">Онлайн-словарь</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Учителям</button>
                <div class="dropdown-content">
                  <a href="#">Рабочая программа</a>
                  <a href="#">Разработка уроков</a>
                  <a href="#">Учебно-методический комплкт</a>
                  <a href="#">Внеклассная работа</a>
                </div>
            </div>
            <a href="#">Родителям</a>
            <a href="#">Новости</a>
            <a href="#">Гостевая книга</a>
            <button class="btn fourth">Войти</button>
        </div>