<div class="panel">
    <a class="logo" href="/"></a>

    <div class="dropdown">
        <button class="dropbtn">О себе</button>
        <div class="dropdown-content">
            <a href="/about">О себе</a>
            <a href="/merits">Мои достижения</a>
            <a href="/photoalbum">Портфолио</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Ученикам</button>
        <div class="dropdown-content">
            <!--<a href="#">Тестирование учащихся</a>-->
            <a href="#">Подготовка к олимпиаде по башкирскому языку</a>
            <a href="#">Работа со слабоуспевающими</a>
            <a href="/dictionary">Онлайн-словарь</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Учителям</button>
        <div class="dropdown-content">
            <a href="#">Рабочая программа</a>
            <a href="#">Разработка уроков</a>
            <a href="#">Физминутки на башкирском языке</a>
            <a href="#">Внеклассная работа</a>
        </div>
    </div>
    <a href="/toParents">Родителям</a>
    <a href="#">Новости</a>
    <a id="guest_book" href="#">Гостевая книга</a>
    <% if(isAuth){ %>
        <button class="btn fourth">
            <a href="/auth/logout">Выйти</a>
        </button>
    <% }
    else{ %>
        <button class="btn fourth">
            <a href="/auth/login">Войти</a>
        </button>
    <% } %>
</div>