<div class="my-flex-box nav-bar">
    <div class="logotype">
        <a href="/"><img src="../img/logo.png"></a>
    </div>
    <div class="dropdown">
        <button class="dropbtn">О себе</button>
        <div class="dropdown-content">
            <a href="/about">О себе</a>
            <a href="/merits">Мои достижения</a>
            <a href="/portfolio">Портфолио</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Ученикам</button>
        <div class="dropdown-content">
            <!--<a href="#">Тестирование учащихся</a>-->
            <a href="/olimps">Подготовка к олимпиаде по башкирскому языку</a>
            <a href="/underperforming">Работа со слабоуспевающими</a>
            <a href="/dictionary">Онлайн-словарь</a>
            <a href="/proverbs">Пословицы на башкирском языке</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Учителям</button>
        <div class="dropdown-content">
            <a href="/workProgram">Рабочая программа</a>
            <!--<a href="/lessons">Разработка уроков</a>-->
            <a href="/fizmin">Физминутки на башкирском языке</a>
            <a href="/extracurricular">Внеклассная работа</a>
        </div>
    </div>
    <a href="/toParents">Родителям</a>
    <a href="/news">Новости</a>
    <a id="guest_book" href="/book">Гостевая книга</a>
    <a id="specialButton"  href="#"><img src="https://lidrekon.ru/images/special.png"
                                         alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ"/></a>
    <% if(isAuth){ %>
        <button class="btn fourth">
            <a href="/auth/logout">Выйти</a>
        </button>
    <% }
    else{ %>
        <button class="btn fourth">
            <a href="/auth/login">Войти</a>
        </button>
    <% } %>
</div>
